{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load static %}
{% include "url/searchBar.html" %}

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>URL</th>
            <td>
                {{ view.kwargs.pk }}
            </td>
        </tr>
        <tr>
            <th>Response content SHA-256</th>
            <td>{% if response_sha256 %}<a href="{% url 'filehash:detail' response_sha256 %}">{{ response_sha256 }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ title }}</td>
        </tr>
        <tr>
            <th>Response Status Code</th>
            <td>{{ response_code }}</td>
        </tr>
        <tr>
            <th>Content-Type</th>
            <td>{{ content_type }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ content_length| intcomma }} byte</td>
        </tr>
        <tr>
            <th>Server</th>
            <td>{{ server }}</td>
        </tr>
        <tr>
            <th>Last Modified</th>
            <td>{{ last_modified }}</td>
        </tr>
        <tr>
            <th>VirusTotal Detections</th>
            <td>
            {% if vt_url.positives %}
            {% if vt_url.positives < 2 %}
                <button class="btn btn-sm shadow text-white bg-info">
            {% elif vt_url.positives < 5 %}
                <button class="btn btn-sm shadow text-dark bg-warning">
            {% else %}
                <button class="btn btn-sm shadow text-white bg-danger">
            {% endif %}
                {{ vt_url.positives }} / {{ vt_url.total }}
            </button>
            {% endif %}
            </td>
        </tr>
    </table>
    {% if 'text/html' in content_type %}
    <div id="loader-bg">
        <div id="loader">
            <img src="{% static 'img/load.gif' %}" class="mx-auto d-block" alt="Now Loading...">
        </div>
    </div>
    <div id="wrap">
        <div style="height: 500px;">
            <a href="/{{ imagefile }}" data-lightbox="webimage">
                <img src="/{{ imagefile }}" id="webimage" class="rounded img-thumbnail mx-auto d-block mh-100" alt="screenshot">
            </a>
        </div>
    </div>
    <a class="btn btn-sm btn-info mt-2 shadow" href="{% url 'url:code' websrc %}" target="_blank">View Source</a>
    {% endif %}
    {% if websrc %}
    <a class="btn btn-sm btn-info mt-2 shadow" href="{% url 'url:getcontents' websrc %}" download>Download Contents</a>
    {% endif %}
</div>

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="cross-tab" data-toggle="tab" href="#cross">CrossCutting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="virustotal-tab" data-toggle="tab" href="#virustotal">VirusTotal</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="cross" role="tabpanel" aria-labelledby="cross-tab">

        <div class="my-2"></div>
        {% include "dashboard/crosslist.html" %}

    </div>
    <div class="tab-pane fade" id="virustotal" role="tabpanel" aria-labelledby="virustotal-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(function(){
  var h = $(window).height();
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
 
$(window).load(function(){ 
  var reload = function(){
    $("#webimage").attr("src", document.getElementById('webimage').src + "?" + new Date().getTime());
  }
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
  setTimeout(reload,10000);
});
</script>
{% endblock %}
