amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
Django==1.11.29
django-bootstrap4==0.0.4
django-celery-results==1.0.4
django-filter==2.0.0
django-pure-pagination==0.3.0
djangorestframework==3.9.4
geoip2==2.9.0
idna==2.6
imgkit==1.0.1
kombu==4.2.1
maxminddb==1.4.1
numpy==1.13.3
oauthlib==2.0.6
pandas==0.20.3
PyMySQL==0.7.11
python-dateutil==2.6.1
python-dotenv==0.10.5
pytz==2017.2
redis==2.10.6
requests==2.21.0
requests-oauthlib==0.8.0
simplejson==3.11.1
six==1.11.0
tweepy==3.5.0
urllib3==1.26.5
uWSGI==2.0.15
vine==1.1.4
xmltodict==0.12.0
