{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load static %}
{% include "filehash/searchBar.html" %}

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>md5</th>
                <td>
                    {% if vt_hash.md5 %}
                    {{ vt_hash.md5 }}
                    {% elif tm_meta.results.0.md5 %}
                    {{ tm_meta.results.0.md5 }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>sha1</th>
                <td>
                    {% if vt_hash.sha1 %}
                    {{ vt_hash.sha1 }}
                    {% elif tm_meta.results.0.sha1 %}
                    {{ tm_meta.results.0.sha1 }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>sha256</th>
                <td>
                    {% if vt_hash.sha256 %}
                    {{ vt_hash.sha256 }}
                    {% elif tm_meta.results.0.sha256 %}
                    {{ tm_meta.results.0.sha256 }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>File Name</th>
                <td>
                    <more>
                    {% if vt_hash.submission_names %}
                    {% for name in vt_hash.submission_names %}<div class="li">{{ name }}<br></div>{% endfor %}
                    {% elif tm_meta.results.0.file_name %}
                    {{ tm_meta.results.0.file_name }}
                    {% endif %}
                    </more>
                </td>
            </tr>
            <tr>
                <th>Magic Type</th>
                <td>
                    {% if vt_hash.additional_info.magic %}
                    {{ vt_hash.additional_info.magic }}
                    {% elif tm_meta.results.0.file_type %}
                    {{ tm_meta.results.0.file_type }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Size</th>
                <td>
                    {% if vt_hash.size %}
                    {{ vt_hash.size|filesizeformat }}
                    {% elif tm_meta.results.0.file_size %}
                    {{ tm_meta.results.0.file_size|filesizeformat }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>VirusTotal Detections</th>
                <td>
                {% if vt_hash.positives %}
                {% if vt_hash.positives < 2 %}
                    <button class="btn btn-sm shadow text-white bg-info">
                {% elif vt_hash.positives < 5 %}
                    <button class="btn btn-sm shadow text-dark bg-warning">
                {% else %}
                    <button class="btn btn-sm shadow text-white bg-danger">
                {% endif %}
                    {{ vt_hash.positives }} / {{ vt_hash.total }}
                </button>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="cross-tab" data-toggle="tab" href="#cross">CrossCutting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="virustotal-tab" data-toggle="tab" href="#virustotal">VirusTotal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="threatminer-tab" data-toggle="tab" href="#threatminer">ThreatMiner</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="cross" role="tabpanel" aria-labelledby="cross-tab">

        <div class="my-2"></div>
        {% include "dashboard/crosslist.html" %}

    </div>
    <div class="tab-pane fade" id="virustotal" role="tabpanel" aria-labelledby="virustotal-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="threatminer" role="tabpanel" aria-labelledby="theatminer-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
