{% load static %}
        <img class="p-3" src="{% static 'img/threatminer_logo.png' %}" height="120" alt="ThreatMiner">
        <ul class="nav nav-tabs nav-pills">
            <li class="nav-item">
                <a class="nav-link active" id="threatminer-meta-tab" data-toggle="tab" href="#threatminer-meta">Meta Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="threatminer-av-tab" data-toggle="tab" href="#threatminer-av">AV Detections{% if tm_av.results.0.av_detections %}<span class="badge badge-secondary ml-2">{{ tm_av.results.0.av_detections|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="threatminer-hosts-tab" data-toggle="tab" href="#threatminer-hosts">Hosts{% if tm_host.results.0.domains %}<span class="badge badge-secondary ml-2">{{ tm_host.results.0.domains|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="threatminer-reports-tab" data-toggle="tab" href="#threatminer-reports">Reports{% if tm_report.results %}<span class="badge badge-secondary ml-2">{{ tm_report.results|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="threatminer-http-tab" data-toggle="tab" href="#threatminer-http">HTTP Traffic{% if tm_http.results.0.http_traffic %}<span class="badge badge-secondary ml-2">{{ tm_http.results.0.http_traffic|length }}</span>{% endif %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="threatminer-meta" role="tabpanel" aria-labelledby="threatminer-meta-tab">
                <div class="container">
                    {% for result in tm_meta.results %}
                    <table class="table table-striped">
                        <tr>
                            <th>md5</th>
                            <td>{{ result.md5 }}</td>
                        </tr>
                        <tr>
                            <th>sha1</th>
                            <td>{{ result.sha1 }}</td>
                        </tr>
                        <tr>
                            <th>sha256</th>
                            <td>{{ result.sha256 }}</td>
                        </tr>
                        <tr>
                            <th>File Type</th>
                            <td>{{ result.file_type }}</td>
                        </tr>
                        <tr>
                            <th>File Size</th>
                            <td>{{ result.file_size }}</td>
                        </tr>
                        <tr>
                            <th>File Name</th>
                            <td>{{ result.file_name }}</td>
                        </tr>
                        <tr>
                            <th>Date Analysed</th>
                            <td>{{ result.date_analysed }}</td>
                        </tr>
                        <tr>
                            <th>Architecture</th>
                            <td>{{ result.architecture }}</td>
                        </tr>
                        <tr>
                            <th>ssdeep</th>
                            <td>{{ result.ssdeep }}</td>
                        </tr>
                        <tr>
                            <th>imphash</th>
                            <td>{{ result.imphash }}</td>
                        </tr>
                        <tr>
                            <th>Authentihash</th>
                            <td>{{ result.authentihash }}</td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="threatminer-av" role="tabpanel" aria-labelledby="threatminer-av-tab">
                <div class="container">
            
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>Detection</th>
                            <th>Product</th>
                        </tr>
                        </thead>
                        {% for result in tm_av.results %}
                        {% for detection in result.av_detections %}
                        <tr>
                            <td>{{ detection.detection }}</td>
                            <td>{{ detection.av }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="threatminer-hosts" role="tabpanel" aria-labelledby="threatminer-hosts-tab">
                <div class="container">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>IP</th>
                            <th>Domain</th>
                        </tr>
                        </thead>
                        {% for result in tm_host.results %}
                        {% for domain in result.domains %}
                        <tr>
                            <td>{% if domain.ip %}<a href="{% url 'ip:detail' domain.ip %}">{{ domain.ip }}</a>{% endif %}</td>
                            <td>{% if domain.domain %}<a href="{% url 'domain:detail' domain.domain %}">{{ domain.domain }}</a>{% endif %}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="threatminer-reports" role="tabpanel" aria-labelledby="threatminer-reports-tab">
                <div class="container">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>Reports</th>
                            <th>Year</th>
                        </tr>
                        </thead>
                        {% for result in tm_report.results|dictsortreversed:"year" %}
                        <tr>
                            <td><a href="{{ result.URL }}">{{ result.filename }}</a></td>
                            <td>{{ result.year }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="threatminer-http" role="tabpanel" aria-labelledby="threatminer-http-tab">
                <div class="table-responsive">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>Domain</th>
                            <th>URL</th>
                            <th>IP</th>
                            <th>Method</th>
                            <th>UserAgent</th>
                            <th>Port</th>
                            <th>Raw</th>
                        </tr>
                        </thead>
                        {% for result in tm_http.results %}
                        {% for http in result.http_traffic %}
                        <tr>
                            <td>{% if http.domain %}<a href="{% url 'domain:detail' http.domain %}">{{ http.domain }}</a>{% endif %}</td>
                            <td>{% if http.domain and http.url %}<a href="{% url 'url:index' %}?keyword=http://{{ http.domain }}{{ http.url }}">{{ http.url }}</a>{% endif %}</td>
                            <td>{% if http.ip %}<a href="{% url 'ip:detail' http.ip %}">{{ http.ip }}</a>{% endif %}</td>
                            <td>{{ http.method }}</td>
                            <td>{{ http.user_agent }}</td>
                            <td>{{ http.port }}</td>
                            <td>{{ http.raw|escape }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
