{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load static %}
{% include "ip/searchBar.html" %}

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>IP Address</th>
            <td>
                {{ view.kwargs.pk }}
            </td>
        </tr>
        <tr>
            <th>Resolv Host</th>
            <td>{% if domain %}<a href="{% url 'domain:detail' domain %}">{{ domain }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td><img src="{% static 'flags/'|add:geoip.iso_code|lower|add:'.png' %}"> {{ geoip.names.en }}</td>
        </tr>
        <tr>
            <th>AS Number</th>
            <td>{{ vt_ip.asn }}</td>
        </tr>
        <tr>
            <th>AS Owner</th>
            <td>{{ vt_ip.as_owner }}</td>
        </tr>
        <tr>
            <th>Resolutions</th>
            <td><more>{% for resolution in vt_ip.resolutions|dictsortreversed:"last_resolved" %}<div class="li">{{ resolution.last_resolved }}: <a href="{% url 'domain:detail' resolution.hostname %}">{{ resolution.hostname }}</a><br></div>{% endfor %}</more></td>
        </tr>
    </table>
</div>

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="cross-tab" data-toggle="tab" href="#cross">CrossCutting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="virustotal-tab" data-toggle="tab" href="#virustotal">VirusTotal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="threatminer-tab" data-toggle="tab" href="#threatminer">ThreatMiner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ipvoid-tab" data-toggle="tab" href="#ipvoid">IPVoid</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="abuse-tab" data-toggle="tab" href="#abuse">AbuseIPDB</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="shodan-tab" data-toggle="tab" href="#shodan">Shodan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="censys-tab" data-toggle="tab" href="#censys">Censys</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="cross" role="tabpanel" aria-labelledby="cross-tab">
        <div class="my-2"></div>
        {% include "dashboard/crosslist.html" %}
    </div>
    <div class="tab-pane fade" id="virustotal" role="tabpanel" aria-labelledby="virustotal-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="threatminer" role="tabpanel" aria-labelledby="theatminer-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="ipvoid" role="tabpanel" aria-labelledby="ipvoid-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="abuse" role="tabpanel" aria-labelledby="abuse-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="shodan" role="tabpanel" aria-labelledby="shodan-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="censys" role="tabpanel" aria-labelledby="censys-tab">
        <div class="d-flex justify-content-center">
            <div class="spinner-border my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
