{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load staticfiles %}
{% include "ip/searchBar.html" %}

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>IP Address</th>
            <td>
                {{ view.kwargs.pk }}
            </td>
        </tr>
        <tr>
            <th>Resolv Host</th>
            <td>{% if domain %}<a href="{% url 'domain:detail' domain %}">{{ domain }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ geoip }}</td>
        </tr>
        <tr>
            <th>Networks</th>
            <td>{% for net in domaintools_whois.networks %}{{ net.range.cidr }} ({{ net.name }})<br>{% endfor %}</td>
        </tr>
        <tr>
            <th>AS Number</th>
            <td>{{ vt_ip.asn }}</td>
        </tr>
        <tr>
            <th>AS Owner</th>
            <td>{{ vt_ip.as_owner }}</td>
        </tr>
        <tr>
            <th>Resolutions</th>
            <td><article>{% for resolution in vt_ip.resolutions|dictsortreversed:"last_resolved" %}{{ resolution.last_resolved }}: <a href="{% url 'domain:detail' resolution.hostname %}">{{ resolution.hostname }}</a><br>{% endfor %}</article></td>
        </tr>
    </table>
</div>

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="cross-tab" data-toggle="tab" href="#cross">CrossCutting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="virustotal-tab" data-toggle="tab" href="#virustotal">VirusTotal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="threatminer-tab" data-toggle="tab" href="#threatminer">ThreatMiner</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="cross" role="tabpanel" aria-labelledby="cross-tab">

        <div class="my-2"></div>
        {% include "dashboard/crosslist.html" %}

    </div>
    <div class="tab-pane fade" id="virustotal" role="tabpanel" aria-labelledby="virustotal-tab">

        <img class="p-3" src="{% static 'img/virustotal_logo.png' %}" height="100" alt="VirusTotal">
        <ul class="nav nav-tabs nav-pills">
            <li class="nav-item">
            <a class="nav-link active" id="detected-urls-tab" data-toggle="tab" href="#detected-urls">Detected URLs{% if vt_ip.detected_urls %}<span class="badge badge-secondary ml-2">{{ vt_ip.detected_urls|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="detected-communicating-samples-tab" data-toggle="tab" href="#detected-communicating-samples">Detected Communicating Samples{% if vt_ip.detected_communicating_samples %}<span class="badge badge-secondary ml-2">{{ vt_ip.detected_communicating_samples|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="detected-downloaded-samples-tab" data-toggle="tab" href="#detected-downloaded-samples">Detected Downloaded Samples{% if vt_ip.detected_downloaded_samples %}<span class="badge badge-secondary ml-2">{{ vt_ip.detected_downloaded_samples|length }}</span>{% endif %}</a>
            </li>
        </ul>
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="detected-urls" role="tabpanel" aria-labelledby="detected-urls-tab">
                    <table class="table table-hover w-100" style="table-layout:fixed">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th style="width:100px;">Score</th>
                            <th style="width:220px;">Scan Date</th>
                        </tr>
                        </thead>
                        {% for url in vt_ip.detected_urls|dictsort:"url" %}
                        <tr>
                            <td style="word-wrap:break-word;"><a href="{% url 'url:index' %}?keyword={{ url.url }}">{{ url.url }}</a></td>
                            <td>
                            {% if url.positives < 2 %}
                            <button class="btn btn-sm shadow text-white bg-info">
                            {% elif url.positives < 5 %}
                            <button class="btn btn-sm shadow text-dark bg-warning">
                            {% else %}
                            <button class="btn btn-sm shadow text-white bg-danger">
                            {% endif %}
                            {{ url.positives }} / {{ url.total }}</button></td>
                            <td>{{ url.scan_date }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade" id="detected-communicating-samples" role="tabpanel" aria-labelledby="detected-communicating-samples-tab">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>sha256</th>
                            <th>Score</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        {% for sample in vt_ip.detected_communicating_samples|dictsortreversed:"positives" %}
                        <tr>
                            <td><a href="{% url 'filehash:detail' sample.sha256 %}">{{ sample.sha256 }}</a></td>
                            <td>
                            {% if sample.positives < 2 %}
                            <button class="btn btn-sm shadow text-white bg-info">
                            {% elif sample.positives < 5 %}
                            <button class="btn btn-sm shadow text-dark bg-warning">
                            {% else %}
                            <button class="btn btn-sm shadow text-white bg-danger">
                            {% endif %}
                            {{ sample.positives }} / {{ sample.total }}</button></td>
                            <td>{{ sample.date }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade" id="detected-downloaded-samples" role="tabpanel" aria-labelledby="detected-downloaded-samples-tab">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>sha256</th>
                            <th>Score</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        {% for sample in vt_ip.detected_downloaded_samples|dictsortreversed:"positives" %}
                        <tr>
                            <td><a href="{% url 'filehash:detail' sample.sha256 %}">{{ sample.sha256 }}</a></td>
                            <td>
                            {% if sample.positives < 2 %}
                            <button class="btn btn-sm shadow text-white bg-info">
                            {% elif sample.positives < 5 %}
                            <button class="btn btn-sm shadow text-dark bg-warning">
                            {% else %}
                            <button class="btn btn-sm shadow text-white bg-danger">
                            {% endif %}
                            {{ sample.positives }} / {{ sample.total }}</button></td>
                            <td>{{ sample.date }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="threatminer" role="tabpanel" aria-labelledby="theatminer-tab">

        <img class="p-3" src="{% static 'img/threatminer_logo.png' %}" height="120" alt="ThreatMiner">
        <ul class="nav nav-tabs nav-pills">
            <li class="nav-item">
            <a class="nav-link active" id="threatminer-urls-tab" data-toggle="tab" href="#threatminer-urls">URLs{% if tm_url.results %}<span class="badge badge-secondary ml-2">{{ tm_url.results|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="threatminer-samples-tab" data-toggle="tab" href="#threatminer-samples">Samples{% if tm_sample.results %}<span class="badge badge-secondary ml-2">{{ tm_sample.results|length }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="threatminer-reports-tab" data-toggle="tab" href="#threatminer-reports">Reports{% if tm_report.results %}<span class="badge badge-secondary ml-2">{{ tm_report.results|length }}</span>{% endif %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="threatminer-urls" role="tabpanel" aria-labelledby="threatminer-urls-tab">
                <table class="table table-hover w-100" style="table-layout:fixed">
                    <thead>
                    <tr>
                        <th style="width:220px;">Last Seen</th>
                        <th>Domain</th>
                        <th>IP</th>
                        <th style="width:1000px;">URL</th>
                    </tr>
                    </thead>
                    {% for result in tm_url.results|dictsortreversed:"last_seen" %}
                    <tr>
                        <td>{{ result.last_seen }}</td>
                        <td><a href="{% url 'domain:detail' result.domain %}">{{ result.domain }}</a></td>
                        <td>{% if result.ip %}<a href="{% url 'ip:detail' result.ip %}">{{ result.ip }}</a>{% endif %}</td>
                        <td style="word-wrap:break-word;"><a href="{% url 'url:index' %}?keyword={{ result.uri }}">{{ result.uri }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane fade" id="threatminer-samples" role="tabpanel" aria-labelledby="threatminer-samples-tab">
                <div class="container">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        {% for result in tm_sample.results %}
                        <tr>
                            <td><a href="{% url 'filehash:detail' result %}">{{ result }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="threatminer-reports" role="tabpanel" aria-labelledby="threatminer-reports-tab">
                <div class="container">
                    <table class="table table-hover w-100">
                        <thead>
                        <tr>
                            <th>Reports</th>
                            <th>Year</th>
                        </tr>
                        </thead>
                        {% for result in tm_report.results|dictsortreversed:"year" %}
                        <tr>
                            <td><a href="{{ result.URL }}">{{ result.filename }}</a></td>
                            <td>{{ result.year }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(function () {
    $('article').readmore({
        speed: 1000,
        moreLink: '<a href="#">read more</a>',
        lessLink: '<a href="#">close</a>'
    });
});
</script>
{% endblock %}
