[umbrella]
key = YOUR_KEY
secret = YOUR_SECRET
base64str = YOUR_BASE64STR

[investigate]
token = YOUR_TOKEN
baseURL = https://investigate.api.umbrella.com/
dnsdbURL = https://investigate.api.umbrella.com/dnsdb/name/a/
scoreURL = https://investigate.api.umbrella.com/domains/risk-score/
samplesURL = https://investigate.api.umbrella.com/samples/
sampleURL = https://investigate.api.umbrella.com/sample/
