{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load static %}
{% load twitter_tag %}
{% include "twitter/searchBar.html" %}
<canvas id="myChart" width="400" height="30"></canvas>
<p class="text-right"> Records: {{ count| intcomma }} </p>
<table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
    <thead>
        <tr>
            <th style="width: 200px;">Date (JST)</th>
            <th>Tweet</th>
            <th style="width: 400px;">User</th>
        </tr>
    </thead>
    <tbody>
    {% for tw in tws %}
    <tr>
        <td nowrap>{{ tw.datetime }}</td>
        <td>{{ tw.text | urlize | add_a_tag_name_tooltip | linebreaksbr }}</td>
        <td><a href="https://twitter.com/{{ tw.screen_name }}">{{ tw.user }} @{{ tw.screen_name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% include "twitter/page.html" %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function(){
    $('a[name=tooltip]').mouseover(function(){
        var orgurl = $(this).text();
        $('a[name=tooltip]').tooltip('hide');
        $.ajax({
            element: this,
            url: '/twitter/ajax/expand_url/',
            data: {
                'url': orgurl
            },
            dataType: 'json',
            success: function(exurl){
                $(this.element).attr({
                    'data-toggle': 'tooltip',
                    'data-placement': 'auto',
                    'title': exurl.url
                }).tooltip('show');
            }
        });
    });
});
</script>
<script type="text/javascript">
var ctx = document.getElementById("myChart");
var data = {
    {% autoescape off %}
    labels: {{ 30_day_labels }},
    {% endautoescape %}
    datasets: [{
        label: 'count',
        data: {{ 30_day_data }},
        backgroundColor: "rgba(200,30,30,0.4)",
        borderColor: "rgba(230,10,10,1)"
    }],
};
var options = {
legend: {
    display: false,
    }
};
var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options,
});
</script>
{% endblock %}
