{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load static %}
{% load twitter_tag %}
{% include "twitter/searchBar.html" %}
<canvas id="myChart" width="400" height="30"></canvas>
<p class="text-right"> Records: {{ count| intcomma }} </p>
<table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
    <thead>
        <tr>
            <th style="width: 200px;">Date (JST)</th>
            <th>Tweet</th>
            <th style="width: 400px;">User</th>
            <th>Annotation Target</th>
        </tr>
    </thead>
    <tbody>
    {% for tw in tws %}
    <tr>
        <td nowrap>{{ tw.datetime }}</td>
        <td>{{ tw.text | urlize | add_a_tag_name_tooltip | linebreaksbr }}</td>
        <td><a href="https://twitter.com/{{ tw.screen_name }}">{{ tw.user }} @{{ tw.screen_name }}</a></td>
        <td><div class="form-check"><input class="form-check-input" type="checkbox"  value="{{tw.id}}" onchange="postAnnotationTarget(checked,this.value);"></div></td>
    </tr>
    {% endfor %}
</table>
{% include "twitter/page.html" %}
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$(function(){
    $('a[name=tooltip]').mouseover(function(){
        var orgurl = $(this).text();
        $('a[name=tooltip]').tooltip('hide');
        $.ajax({
            element: this,
            url: '/twitter/ajax/expand_url/',
            data: {
                'url': orgurl
            },
            dataType: 'json',
            success: function(exurl){
                $(this.element).attr({
                    'data-toggle': 'tooltip',
                    'data-placement': 'auto',
                    'title': exurl.url
                }).tooltip('show');
            }
        });
    });
});
</script>
<script type="text/javascript">
var ctx = document.getElementById("myChart");
var data = {
    {% autoescape off %}
    labels: {{ 30_day_labels }},
    {% endautoescape %}
    datasets: [{
        label: 'count',
        data: {{ 30_day_data }},
        backgroundColor: "rgba(200,30,30,0.4)",
        borderColor: "rgba(230,10,10,1)"
    }],
};
var options = {
legend: {
    display: false,
    }
};
var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options,
});
</script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue
};

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};

$(document).ready(function() {
    var checkBoxes = document.getElementsByClassName('form-check-input');
    var ids = [];
    for (var i = 0; i < checkBoxes.length; i++) {
            ids.push(checkBoxes[i].value);
    };
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        data: {
            pks:ids
        },
        url: "{% url 'acti:tweet_get'%}",
        contentType: "application/json",
        traditional: true,
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success: function(data) {
            inputs = document.getElementsByClassName('form-check-input');
            values=[];
            for (var i = 0; i<inputs.length; i++){
                index = data["checks"][0].indexOf(Number(inputs[i].value))
                if ( index != -1){
                    id = data["checks"][0][index];
                    checked = data["checks"][1][index];
                    inputs[i].checked = checked;
                }
            };

        },
        error: function(xhr, status, error) {
                console.log(status + "\n" + "Status: " + xhr.status + "\n" + error);
        }
    });
});

function postAnnotationTarget(checked,value){
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        data: {
        	"pk":value,
		"checked":checked
        },
        url: "{% url 'acti:tweet_add'%}",
        contentType: "application/json",
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success: function(data) {
        },
        error: function(xhr, status, error) {
            console.log(status + "\n" + "Status: " + xhr.status + "\n" + error);
        }
    })
};
</script>
{% endblock javascript %}