{% extends "base.html" %}

{% block content %}
{% load bootstrap4 %}
{% load static %}
<div class="container">
    <h1 class="my-4">Create New Hunter</h1>
    <form action="{% url 'twitter_hunter:hunt_add' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="alert alert-info" role="alert">
            Slack will be notified if 'Notice' is checked.
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div align="right">
        <a href="{% url 'twitter_hunter:index' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}
