{% load humanize %}
{% load static %}
<div class="accordion card mb-3" id="accordionEvent">
    <h5 class="card-header" data-toggle="collapse" data-target="#collapseEvent" aria-expanded="true">
        Threat Events<span class="badge badge-pill badge-primary ml-2">{{ events_count | intcomma }}</span>
    </h5>
    <div id="collapseEvent" class="collapse" data-parent="#accordionEvent">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Shared Threat Intelligence by Circl MISP.</h6>
            <table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th style="width: 200px;">Published (JST)</th>
                    <th style="width: 130px;">DATE</th>
                    <th>Info</th>
                    <th>Tags</th>
                    <th style="width: 100px;">Level</th>
                    <th style="width: 100px;">#Attrs</th>
                    <th style="width: 200px;">Org</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td nowrap>{{ event.publish_timestamp }}</td>
                    <td nowrap>{{ event.date }}</td>
                    <td style="word-wrap:break-word;"><a href="{% url 'threat:event_detail' event.id %}">{{ event.info }}</a></td>
                    <td style="word-wrap:break-word;">
                        {% for tag in event.tags.all %}
                        <a href="{{ request.path }}?{{ request.GET.urlencode }}&tag={{ tag.id }}"><span class="badge badge-secondary shadow" style="color: {{ tag.get_textcolor }}; background-color: {{ tag.colour }};">{{ tag.name }}</span></a>
                        {% endfor %}
                    </td>
                    <td>{{ event.get_threat_level_id_display }}</td>
                    <td><a href="{% url 'threat:event_detail' event.id %}">{{ event.attribute_count | intcomma }}</a></td>
                    <td><a href="{% url 'threat:event_list' %}?org={{ event.orgc.id }}">{{ event.orgc.name }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="accordion card mb-3" id="accordionAttribute">
    <h5 class="card-header" data-toggle="collapse" data-target="#collapseAttribute" aria-expanded="true">
        Threat Attributes<span class="badge badge-pill badge-primary ml-2">{{ attributes_count | intcomma }}</span>
    </h5>
    <div id="collapseAttribute" class="collapse" data-parent="#accordionAttribute">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Shared Threat Intelligence by Circl MISP.</h6>
            <table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th style="width: 100px;">EventID</th>
                    <th style="width: 200px;">Category</th>
                    <th style="width: 150px;">Type</th>
                    <th>Value</th>
                    <th>Tags</th>
                    <th>Comment</th>
                    <th style="width: 150px;">Object</th>
                </tr>
                </thead>
                <tbody>
                {% for attr in attributes %}
                <tr>
                    <td><a href="{% url 'threat:event_detail' attr.event %}">{{ attr.event }}</a></td>
                    <td>{{ attr.category }}</td>
                    <td>{{ attr.type }}</td>
                    <td style="word-wrap:break-word;">{% if attr.type == 'link' %}{{ attr.value | urlize}}{% else %}{{ attr.value }}{% endif %}</td>
                    <td>{% for tag in attr.tags.all %}<span class="badge badge-secondary">{{ tag.name }}</span> {% endfor %}</td>
                    <td>{{ attr.comment }}</td>
                    <td>{{ attr.object_id.name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="accordion card mb-3 disabled" id="accordionReputation">
    <h5 class="card-header disabled" data-toggle="collapse" data-target="#collapseReputation" aria-expanded="true">
        Reputation Tracker<span class="badge badge-pill badge-primary ml-2">{{ bls_count | intcomma }}</span>
    </h5>
    <div id="collapseReputation" class="collapse" data-parent="#accordionReputation">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Tracking IP/Domain/URL indicator reputation.</h6>
            <table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th style="width: 220px;">Date (JST)</th>
                    <th>IP Address</th>
                    <th>Domain</th>
                    <th>URL</th>
                    <th style="width: 300px;">Source</th>
                    <th style="width: 50px;">VT</th>
                    <th style="width: 50px;">DT</th>
                </tr>
                </thead>
                <tbody>
                {% for bl in bls %}
                <tr>
                    <td nowrap><a href="{% url 'reputation:detail' bl.id %}">{{ bl.datetime }}</a></td>
                    <td>{{ bl.ip | default_if_none:'' }}</td>
                    <td style="word-wrap:break-word;">{{ bl.domain }}</td>
                    <td style="word-wrap:break-word;">{{ bl.url }}</td>
                    <td><a href="{% url 'reputation:index' %}?source={{ bl.source }}">{{ bl.get_source_display }}</a></td>
                    <td><a href="{{ bl.get_vturl }}"><img src="{% static 'img/vt.svg' %}" alt="VirusTotal" width="20"></a></td>
                    <td><a href="{{ bl.get_dturl }}"><img src="{% static 'img/domaintools.png' %}" alt="DomainTools" width="20"></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="accordion card mb-3" id="accordionTwitter">
    <h5 class="card-header" data-toggle="collapse" data-target="#collapseTwitter" aria-expanded="true">
        Twitter Tracker<span class="badge badge-pill badge-primary ml-2">{{ tws_count | intcomma }}</span>
    </h5>
    <div id="collapseTwitter" class="collapse" data-parent="#accordionTwitter">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Tracking security cluster's tweet timeline.</h6>
            <table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th style="width: 200px;">Date (JST)</th>
                    <th>Tweet</th>
                    <th style="width: 400px;">User</th>
                </tr>
                </thead>
                <tbody>
                {% for tw in tws %}
                <tr>
                    <td nowrap>{{ tw.datetime }}</td>
                    <td>{{ tw.text | urlize | linebreaksbr }}</td>
                    <td><a href="https://twitter.com/{{ tw.screen_name }}">{{ tw.user }} @{{ tw.screen_name }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="accordion card mb-3" id="accordionExploit">
    <h5 class="card-header" data-toggle="collapse" data-target="#collapseExploit" aria-expanded="true">
        Exploit Tracker<span class="badge badge-pill badge-primary ml-2">{{ exs_count | intcomma }}</span>
    </h5>
    <div id="collapseExploit" class="collapse" data-parent="#accordionExploit">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Tracking published exploit code.</h6>
            <table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th style="width: 200px;">Date (JST)</th>
                    <th>Title</th>
                    <th style="width: 200px;">Source</th>
                </tr>
                </thead>
                <tbody>
                {% for ex in exs %}
                <tr>
                    <td nowrap>{{ ex.datetime }}</td>
                    <td><a href="{% url 'exploit:detail' ex.id %}">{{ ex.title }}</a></td>
                    <td>{{ ex.get_source_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="accordion card mb-3" id="accordionVuln">
    <h5 class="card-header" data-toggle="collapse" data-target="#collapseVuln" aria-expanded="true">
        Vuln Tracker<span class="badge badge-pill badge-primary ml-2">{{ vus_count | intcomma }}</span>
    </h5>
    <div id="collapseVuln" class="collapse" data-parent="#accordionVuln">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Tracking vulnerabilities by VulnDB.</h6>
            <table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
                <thead>
                    <tr>
                        <th style="width: 220px;">Last Modified (JST)</th>
                        <th>Title</th>
                        <th>Tag</th>
                        <th style="width: 200px;">CVE-ID</th>
                        <th style="width: 200px;">CVSS(Base)</th>
                    </tr>
                </thead>
                <tbody>
                {% for vu in vus %}
                <tr>
                    <td nowrap>{{ vu.vulndb_last_modified }}</td>
                    <td style="word-wrap:break-word;"><a href="{% url 'vuln:detail' vu.id %}">{{ vu.title }}</a></td>
                    <td style="word-wrap:break-word;">
                        {% for tag in vu.tags.all %}
                        <a href="{% url 'vuln:index' %}?tag={{ tag.id }}"><span class="badge badge-secondary shadow" style="color: {{ tag.get_textcolor }}; background-color: {{ tag.get_backgroundcolor }};">{{ tag.name }}</span></a>
                        {% endfor %}
                    </td>
                    <td style="word-wrap:break-word;">
                        {% for nvd in vu.nvds.all %}
                        <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ nvd.id }}" target="_blank">{{ nvd.id }}</a><br>
                        {% endfor %}
                    </td>
                    <td style="word-wrap:break-word;">
                        {% for cvss in vu.cvsses.all %}
                        {% if cvss.score < 4.0 %}
                        <button class="btn shadow text-white bg-info">
                        {% elif cvss.score < 7.0 %}
                        <button class="btn shadow text-dark bg-warning">
                        {% else %}
                        <button class="btn shadow text-white bg-danger">
                        {% endif %}
                            {{ cvss.score }}
                        </button>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
