{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load static %}
{% include "threat/searchBar.html" %}
<!--
<canvas id="myChart" width="400" height="30"></canvas>
-->

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group btn-group-sm" role="group">
        <button id="btnGroupCategory" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupCategory">
            {% for category in categories %}
            <a class="dropdown-item" href="{{ request.path }}?category={{ category }}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group btn-group-sm" role="group">
        <button id="btnGroupType" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupType">
            {% for type in types %}
            <a class="dropdown-item" href="{{ request.path }}?type={{ type }}">{{ type }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<p class="text-right"> Records: {{ count| intcomma }} </p>
<table class="table table-responsive table-hover" style="table-layout:fixed;width:100%;">
    <thead>
    <tr>
        <th style="width: 100px;">EventID</th>
        <th style="width: 200px;">Category</th>
        <th style="width: 150px;">Type</th>
        <th>Value</th>
        <th>Tags</th>
        <th>Comment</th>
        <th style="width: 150px;">Object</th>
    </tr>
    </thead>
    <tbody>
    {% for attr in attributes %}
    <tr>
        <td><a href="{% url 'threat:event_detail' attr.event %}">{{ attr.event }}</a></td>
        <td>{{ attr.category }}</td>
        <td>{{ attr.type }}</td>
        <td style="word-wrap:break-word;">{% if attr.type == 'link' %}{{ attr.value | urlize}}{% else %}{{ attr.value }}{% endif %}</td>
        <td>{% for tag in attr.tags.all %}<span class="badge badge-secondary">{{ tag.name }}</span> {% endfor %}</td>
        <td>{{ attr.comment }}</td>
        <td>{{ attr.object_id.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include "threat/page.html" %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
//var ctx = document.getElementById("myChart");
//var data = {
//    {% autoescape off %}
//    labels: {{ 30_day_labels }},
//    {% endautoescape %}
//    datasets: [{
//        label: 'count',
//        data: {{ 30_day_data }},
//        backgroundColor: "rgba(200,30,30,0.4)",
//        borderColor: "rgba(230,10,10,1)"
//    }],
//};
//var options = {
//legend: {
//    display: false,
//    }
//};
//var myChart = new Chart(ctx, {
//    type: 'line',
//    data: data,
//    options: options,
//});
</script>
{% endblock %}
