{% load static %}

<div class="container">
    <form class="form" action="{{ request.url }}" method="get">
        <div class="form-group row">
            <div class="col-sm-10">
                {{ search_form }}
            </div>
            <button class="btn btn-outline-success my-2" type="submit">Search</button>
            {% include "threat/searchTarget.html" %}
        </div>
    </form>
    {% for tag in tags %}
    <span class="badge badge-secondary mb-2">{{ tag.name }} <a class="btn-secondary btn-sm" href="{{ request.path }}?{% for key, values in request.GET.lists %}{% if key == 'tag' %}{% for v in values %}{% if v != tag.id|slugify %}&tag={{ v }}{% endif %}{% endfor %}{% endif %}{% endfor %}"><i class="fas fa-minus-square"></i></a></span>
    {% endfor %}
</div>
{% include "threat/searchTargetValue.html" %}
