<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">EXIST</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class={% if request.resolver_match.app_name == 'threat' %}"nav-item dropdown active"{% endif %}"nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Threat
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'threat:event_list' %}">Events</a>
                        <a class="dropdown-item" href="{% url 'threat:attribute_list' %}">Attributes</a>
                        <a class="dropdown-item" href="{% url 'threat:tag_list' %}">Tags</a>
                        <a class="dropdown-item" href="{% url 'threat:org_list' %}">Orgs</a>
                    </div>
                </li>
                <li class={% if request.resolver_match.app_name == 'reputation' or request.resolver_match.app_name == 'twitter' or request.resolver_match.app_name == 'exploit' or request.resolver_match.app_name == 'news' %}"nav-item dropdown active"{% endif %}"nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tracker
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'reputation:index' %}">Reputation Tracker</a>
                        <a class="dropdown-item" href="{% url 'twitter:index' %}">Twitter Tracker</a>
                        <a class="dropdown-item" href="{% url 'exploit:index' %}">Exploit Tracker</a>
                        <a class="dropdown-item" href="{% url 'news:index' %}">News Tracker</a>
                    </div>
                </li>
                <li class={% if request.resolver_match.app_name == 'twitter_hunter' or request.resolver_match.app_name == 'threat_hunter' %}"nav-item dropdown active"{% endif %}"nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hunter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'twitter_hunter:index' %}">Twitter Hunter</a>
                        <a class="dropdown-item" href="{% url 'threat_hunter:index' %}">Threat Hunter</a>
                    </div>
                </li>
                <li class={% if request.resolver_match.app_name == 'ip' or request.resolver_match.app_name == 'domain' or request.resolver_match.app_name == 'url' or request.resolver_match.app_name == 'filehash' %}"nav-item dropdown active"{% endif %}"nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lookup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'ip:index' %}">IP address</a>
                        <a class="dropdown-item" href="{% url 'domain:index' %}">Domain</a>
                        <a class="dropdown-item" href="{% url 'url:index' %}">URL</a>
                        <a class="dropdown-item" href="{% url 'filehash:index' %}">File Hash</a>
                    </div>
                </li>
                <li class={% if request.resolver_match.app_name == 'api' %}"nav-item active"{% endif %}"nav-item">
                    <a class="nav-link" href="/api/">WebAPI</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
