[auth-timeline]
CK = YOUR_CK
CS = YOUR_CS
AT = YOUR_AT
AS = YOUR_AS

[url]
timeline = https://api.twitter.com/1.1/statuses/home_timeline.json
filter = https://stream.twitter.com/1.1/statuses/filter.json
showuser = https://api.twitter.com/1.1/users/show.json

[exist]
syspath = /path/to/your/exist
