{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}ACTI{% endblock title %}

{% block content %}
{% include "acti/menu.html" %}
	<div id="main" class="container">
		<app></app>
	</div>

	<script type="text/javascript">
		var text = "{{ text|safe|escapejs }}";
		var labels = {{ labels|safe|escape }};
		var annotation = {{ annotation|safe|escape }};
		var post_url = "{% url "acti:add_annotation" %}";
		var post_url_label_delete = "{% url "acti:delete_label" %}";
		var post_url_label_add = "{% url "acti:add_label" %}";
		const twkey = "{{tweet_id}}";
	</script>

	<script type="text/x-template" id="app-header-button-template">
		<div class="m-1">
			<button class="btn btn-sm" style="font-weight: bold;" :style="styleColor" @click="clickedlabel">[[ labelName ]]</button>
			<a v-if="edit" @click="removeLabel" aria-label="Close" class="text-danger" style="cursor:pointer;"><span aria-hidden="true">&times;</span></a>
		</div>
	</script>

	<script type="text/x-template" id="app-header-editmodal-template">
		<div class="row justify-content-end px-1">
			<button id="show-modal" class="btn btn-info" data-toggle="modal" data-target="#modal1">Edit Labels</button>
			<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="label1">Edit Labels</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row m-2">
								<p>Add Labels</p>
								<div class="row">
									<div class="col-7 align-self-center">
										<div class="d-flex flex-row">
											<input class="mx-1" v-model="labelName" :style="styleColor" placeholder="Label Name">
										</div>
									</div>
									<div class="col-5 dropdown">
									  <button type="button" id="dropdown1"
										  class="btn btn-secondary dropdown-toggle"
										  data-toggle="dropdown"
										  aria-haspopup="true"
										  aria-expanded="false">
										  select-color
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdown1">
										  <div class="card-columns">
												<div v-for="color in colors" class="card" :style="{background: color}" @click="setNowColor(color)">
													<div class="card-body"></div>
												</div>
										  </div>
									  </div>
									</div>
								</div>
							</div>
							<button class="m-1 btn btn-primary" @click="addLabelSave" data-dismiss="modal" aria-label="Close">Save</button>
							<div class="mt-3 mx-2">
								<div class="d-block">
									<p>Delete Labels</p>
								</div>
								<div class="row">
									<app-header-button v-for="label in labels" :labelName="label.labelName" :color="label.color" :edit="true" @removeLabel="removeLabel"></app-header-button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="app-header-template">
		<div class="row bg-secondary pt-1 pb-1">
			<div class="col-10">
				<div class="row">
					<app-header-button @clicked="ann" v-for="label in labels" :labelName="label.labelName" :color="label.color"></app-header-button>
				</div>
			</div>
			<div class="col-2">
				<app-header-editmodal @addLabelSave="addLabelSave" @removeLabel="removeLabel" :labels="labels"></app-header-editmodal>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="app-text-template">
		<div class="mt-1" style="font-size:20px;line-height:1.6;" @click="selected">
			<span v-for="ann in slices" :style="styles(ann.color)" class="inline">[[ text.slice(ann.start_offset,ann.end_offset) ]]<a v-if="ann.check" @click="remove(ann)" aria-label="Close" class="text-danger" style="cursor:pointer;"><span aria-hidden="true">&times;</span></a></span>
		</div>
	</script>

	<script type="text/x-template" id="app-template">
		<div class="w-auto" style="background-color:aliceblue;">
			<app-header class="row mx-1" @update="annotate" @labelupdate="labelUpdate" @removelabel="removeLabel" :labels="labels"></app-header>
			<app-text class="mx-1 bg-white text-left" :text="text" @add-label="addLabel" @clear-label="clearLabel" ref="apptext" :anns="anns"></app-text>
			<div class="mt-1 mx-1">
				<form method="post">
					{% csrf_token %}
					<a href="{% url 'acti:tweet_list' mode='check' %}" class="btn btn-primary btn-sm" @click="save">Save</a>
					<a href="{% url 'acti:tweet_list' mode='check' %}" class="btn btn-secondary btn-sm">Back</a>
				</form>
			</div>
		</div>
	</script>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static '/js/acti/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/acti/annotation_labeling.js' %}"></script>
{% endblock %}
