{% extends "base.html" %}

{% block content %}
{% load humanize %}
{% load staticfiles %}
{% include "url/searchBar.html" %}

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>URL</th>
            <td>
                {{ view.kwargs.pk }}
                <a class="btn-sm btn-primary ml-2" href="{% url 'cross' %}?keyword={{ view.kwargs.pk }}" target="_blank">Cross-cutting Search</a>
            </td>
        </tr>
        <tr>
            <th>Response content SHA-256</th>
            <td>{% for key, value in vt_url.additional_info.items %}
                {% if key == "Response content SHA-256" %}
                <a href="{% url 'filehash:detail' value %}">{{ value }}</a>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>VirusTotal Detections</th>
            <td>
            {% if vt_url.positives %}
            {% if vt_url.positives < 2 %}
                <button class="btn btn-sm shadow text-white bg-info">
            {% elif vt_url.positives < 5 %}
                <button class="btn btn-sm shadow text-dark bg-warning">
            {% else %}
                <button class="btn btn-sm shadow text-white bg-danger">
            {% endif %}
                {{ vt_url.positives }} / {{ vt_url.total }}
            </button>
            {% endif %}
            </td>
        </tr>
    </table>
    <div id="loader-bg">
        <div id="loader">
            <img src="{% static 'img/load.gif' %}" class="mx-auto d-block" alt="Now Loading...">
        </div>
    </div>
    <div id="wrap">
        <div style="height: 500px;">
            <a href="/{{ imagefile }}" data-lightbox="webimage">
                <img src="/{{ imagefile }}" id="webimage" class="rounded img-thumbnail mx-auto d-block mh-100" alt="screenshot">
            </a>
        </div>
    </div>
    <a class="btn btn-sm btn-info mt-2 shadow" href="{% url 'url:code' websrc %}" target="_blank">View Source</a>
</div>

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="virustotal-tab" data-toggle="tab" href="#virustotal">VirusTotal</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="virustotal" role="tabpanel" aria-labelledby="virustotal-tab">

        <img class="p-3" src="{% static 'img/virustotal_logo.png' %}" height="100" alt="VirusTotal">
        <div class="container">
            <table class="table">
                <tr>
                    <th>First Seen</th>
                    <td>{{ vt_url.first_seen }}</td>
                </tr>
                <tr>
                    <th>Last Seen</th>
                    <td>{{ vt_url.last_seen }}</td>
                </tr>
                <tr>
                    <th>Scan Date</th>
                    <td>{{ vt_url.scan_date }}</td>
                </tr>
                <tr>
                    <th>AV Detections</th>
                    <td><article>
                    {% for key, value in vt_url.scans.items %}
                    {% if value.detected == True %}
                    {{ value.result }} <p class="font-italic text-muted" style="display:inline;">({{ key }})</p><br>
                    {% endif %}
                    {% endfor %}
                    </article>
                    </td>
                </tr>
                <tr>
                    <th>Additional Info</th>
                    <td>
                        <table class="table table-striped">
                        {% for key, value in vt_url.additional_info.items %}
                        {% if key != "Response headers" %}
                            <tr>
                                <th>{{ key|capfirst }}</th>
                                {% if key == "categories" or key == "tags" %}
                                <td>{% for cat in value %}{{ cat }}<br>{% endfor %}</td>
                                {% elif key == "URL after redirects" %}
                                <td><a href="{% url 'url:index' %}?keyword={{ value }}">{{ value }}</a></td>
                                {% elif key == "redirecting_urls" %}
                                <td>{% for url in value %}<a href="{% url 'url:index' %}?keyword={{ url }}">{{ url }}</a><br>{% endfor %}</td>
                                {% elif key == "resolution" %}
                                <td><a href="{% url 'ip:detail' value %}">{{ value }}</a></td>
                                {% elif key == "rlength" %}
                                <td>{{ value|filesizeformat }}</td>
                                {% elif key == "Response content SHA-256" %}
                                <td><a href="{% url 'filehash:detail' value %}">{{ value }}</a></td>
                                {% else %}
                                <td>{{ value }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Response Header</th>
                    <td>
                        {% for k, v in vt_url.additional_info.items %}
                        {% if k == "Response headers" %}
                        <table class="table table-striped">
                            {% for key, value in v.items %}
                            <tr>
                                <th>{{ key|capfirst }}</th>
                                {% if key == "content-length" %}
                                <td>{{ value|filesizeformat }}</td>
                                {% else %}
                                <td>{{ value }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(function () {
    $('article').readmore({
        speed: 1000,
        moreLink: '<a href="#">read more</a>',
        lessLink: '<a href="#">close</a>'
    });
});

$(function(){
  var h = $(window).height();
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
 
$(window).load(function(){ 
  var reload = function(){
    $("#webimage").attr("src", document.getElementById('webimage').src + "?" + new Date().getTime());
  }
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
  setTimeout(reload,10000);
});
</script>
{% endblock %}
