<div class="collapse" id="searchTarget">
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Tag</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for tag in alltag %}
            <tr>
                <td><a href="{{ request.path }}?{{ request.GET.urlencode }}&tag={{ tag.id }}"><span class="badge badge-secondary shadow" style="color: {{ tag.get_textcolor }}; background-color: {{ tag.get_backgroundcolor }};">{{ tag.name }}</span></a></td>
                <td>{{ tag.longname }}</td>
                <td>{{ tag.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
